body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
    font-size: 1.5rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 400px;
}

form{
    width: 400px;

}

button{
    width: 75px;
    height: 30px
}

