body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    font-size: 1rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

form{
    width: 300px;
}

button{
    width: 75px;
    height: 30px
}