{% extends 'base.html' %}

{% block content %}
<br>
<div class="wrapper">
    <form action="/computer" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="choose">Choose:</label>
        <select name="choose" id="choose" required>
            <option value="rock">🪨</option>
            <option value="paper">📄</option>
            <option value="scissors">✂️</option>
        </select>

        <button>Play</button>
    </form>
    <br>
    <div>
        <p>{{ p1_picked }}</p>
        <p>{{ p2_picked }} </p>
        {{ win }}
    </div>

</div>

{% endblock %}                