{% extends 'base.html' %}

{% block content %}
    <form action="/computer" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="choose">Choose:</label>
        <select name="choose" id="choose" required>
            <option value="rock">🪨</option>
            <option value="paper">📄</option>
            <option value="scissors">✂️</option>
        </select>

        <button>Play</button>
    </form>

    <div>
        {{ win }}
    </div>

{% endblock %}                